In [1]:
# import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython import display
%matplotlib inline

In [2]:
# read the dataset
df = pd.read_csv('survey_results_public.csv')

df_schema = pd.read_csv('survey_results_schema.csv')

# Exploring the Dataset

In [3]:
df.shape

(51392, 154)

In [4]:
df.head()

,Respondent,Professional,ProgramHobby,Country,University,EmploymentStatus,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,...,StackOverflowMakeMoney,Gender,HighestEducationParents,Race,SurveyLong,QuestionsInteresting,QuestionsConfusing,InterestedAnswers,Salary,ExpectedSalary
0,1,Student,"Yes, both",United States,No,"Not employed, and not looking for work",Secondary school,NaN,NaN,NaN,...,Strongly disagree,Male,High school,White or of European descent,Strongly disagree,Strongly agree,Disagree,Strongly agree,NaN,NaN
1,2,Student,"Yes, both",United Kingdom,"Yes, full-time",Employed part-time,Some college/university study without earning ...,Computer science or software engineering,"More than half, but not all, the time",20 to 99 employees,...,Strongly disagree,Male,A master's degree,White or of European descent,Somewhat agree,Somewhat agree,Disagree,Strongly agree,NaN,37500.0
2,3,Professional developer,"Yes, both",United Kingdom,No,Employed full-time,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A professional degree,White or of European descent,Somewhat agree,Agree,Disagree,Agree,113750.0,NaN
3,4,Professional non-developer who sometimes write...,"Yes, both",United States,No,Employed full-time,Doctoral degree,A non-computer-focused engineering discipline,"Less than half the time, but at least one day ...","10,000 or more employees",...,Disagree,Male,A doctoral degree,White or of European descent,Agree,Agree,Somewhat agree,Strongly agree,NaN,NaN
4,5,Professional developer,"Yes, I program as a hobby",Switzerland,No,Employed full-time,Master's degree,Computer science or software engineering,Never,10 to 19 employees,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.Salary.value_counts()

120000.000000    167
110000.000000    164
100000.000000    155
75000.000000     149
60000.000000     139
90000.000000     136
50000.000000     135
32258.064516     132
43010.752688     129
53763.440860     128
80000.000000     128
64516.129032     117
65000.000000     114
70000.000000     113
48387.096774     110
38709.677419      99
85000.000000      97
130000.000000     94
125000.000000     91
115000.000000     90
45161.290323      87
150000.000000     85
105000.000000     85
40000.000000      81
62500.000000      80
37634.408602      79
95000.000000      78
140000.000000     71
51612.903226      71
59139.784946      71
                ...
93307.839388       1
70075.757576       1
38796.000000       1
38800.000000       1
134408.602151      1
168750.000000      1
13419.354839       1
23000.000000       1
25241.276912       1
85800.000000       1
40714.285714       1
1327.724665        1
6488.473282        1
44932.126697       1
5432.388783        1
19000.000000       1
27600.000000       1
10729.000000       1
32031.250000       1
63400.000000       1
2701.512260        1
79.545455          1
0.117457           1
36480.500304       1
3035.000000        1
7756.853397        1
113500.000000      1
73410.659228       1
14444.444444       1
34262.500000       1
Name: Salary, Length: 3049, dtype: int64

In [5]:
df.isnull().sum()

Respondent                         0
Professional                       0
ProgramHobby                       0
Country                            0
University                         0
EmploymentStatus                   0
FormalEducation                    0
MajorUndergrad                  8551
HomeRemote                      7384
CompanySize                    12470
CompanyType                    12569
YearsProgram                     247
YearsCodedJob                  10502
YearsCodedJobPast              50418
DeveloperType                  15267
WebDeveloperType               40696
MobileDeveloperType            49839
NonDeveloperType               46502
CareerSatisfaction              8697
JobSatisfaction                11016
ExCoderReturn                  50469
ExCoderNotForMe                50471
ExCoderBalance                 50469
ExCoder10Years                 50475
ExCoderBelonged                50464
ExCoderSkills                  50457
ExCoderWillNotCode             50470
ExCoderActive                  50462
PronounceGIF                     384
ProblemSolving                 20099
                               ...
InfluenceRecruitment           29806
InfluenceCommunication         29814
StackOverflowDescribes         14460
StackOverflowSatisfaction      14800
StackOverflowDevices           16189
StackOverflowFoundAnswer       17102
StackOverflowCopiedCode        17483
StackOverflowJobListing        17924
StackOverflowCompanyPage       17957
StackOverflowJobSearch         17977
StackOverflowNewQuestion       17774
StackOverflowAnswer            17836
StackOverflowMetaChat          17985
StackOverflowAdsRelevant       20575
StackOverflowAdsDistracting    19655
StackOverflowModeration        21263
StackOverflowCommunity         18982
StackOverflowHelpful           17446
StackOverflowBetter            17742
StackOverflowWhatDo            18023
StackOverflowMakeMoney         20330
Gender                         16345
HighestEducationParents        16454
Race                           18359
SurveyLong                     16672
QuestionsInteresting           16856
QuestionsConfusing             16973
InterestedAnswers              16780
Salary                         38501
ExpectedSalary                 48826
Length: 154, dtype: int64

In [10]:
df_schema.set_index('Column', inplace=True)

In [11]:
df_schema.loc['Professional']

Question    Which of the following best describes you?
Name: Professional, dtype: object

In [21]:
# find columns with more than %35 missing values
missing_cols = list(df.columns[df.isnull().mean() > 0.35])

In [18]:
df.Country.value_counts()

United States                     11455
India                              5197
United Kingdom                     4395
Germany                            4143
Canada                             2233
France                             1740
Poland                             1290
Australia                           913
Russian Federation                  873
Spain                               864
Netherlands                         855
Italy                               781
Brazil                              777
Sweden                              611
Switzerland                         595
Israel                              575
Romania                             561
Iran                                507
Austria                             477
Pakistan                            454
Czech Republic                      411
Belgium                             404
South Africa                        380
Turkey                              363
Ukraine                             356
Mexico                              351
Ireland                             345
Hungary                             332
Philippines                         328
Slovenia                            303
                                  ...
Aruba                                 2
Saint Lucia                           2
Saint Helena                          1
British Indian Ocean Territory        1
Burkina Faso                          1
Monaco                                1
Macau                                 1
S. Georgia & S. Sandwich Isls.        1
Heard and McDonald Islands            1
Seychelles                            1
Falkland Islands                      1
Gabon                                 1
Lesotho                               1
Bahamas                               1
Mali                                  1
Cook Islands                          1
Gibraltar                             1
Chad                                  1
Djibouti                              1
Guam                                  1
Christmas Island                      1
Pitcairn Island                       1
Guinea                                1
French Guyana                         1
Comoros                               1
Montserrat                            1
Vatican City State                    1
Cape Verde                            1
Turkmenistan                          1
Northern Mariana Islands              1
Name: Country, Length: 201, dtype: int64

In [14]:
df.CompanySize.value_counts()

20 to 99 employees          8587
100 to 499 employees        7274
10,000 or more employees    5680
10 to 19 employees          4103
1,000 to 4,999 employees    3831
Fewer than 10 employees     3807
500 to 999 employees        2486
5,000 to 9,999 employees    1604
I don't know                 869
I prefer not to answer       681
Name: CompanySize, dtype: int64

In [15]:
df.CompanyType.value_counts()

Privately-held limited company, not in startup mode                      16709
Publicly-traded corporation                                               5871
I don't know                                                              3233
Sole proprietorship or partnership, not in startup mode                   2831
Government agency or public school/university                             2451
Venture-funded startup                                                    2387
I prefer not to answer                                                    1816
Pre-series A startup                                                      1288
Non-profit/non-governmental organization or private school/university     1225
State-owned company                                                        670
Something else                                                             342
Name: CompanyType, dtype: int64

In [16]:
df.CollaborateRemote.value_counts()

Somewhat agree       8983
Agree                8784
Disagree             6436
Strongly agree       3519
Strongly disagree    1735
Name: CollaborateRemote, dtype: int64

### Q1. Which developer types does each university produce?
University, CompanyType, DeveloperType, SelfTaughtTypes, EducationTypes
### Q2. How often do university students work from home?
University, HomeRemote
### Q3. How hard is it to collaborate remotly?
CollaborateRemote

# Preproecessing Dataset

In [34]:
df.shape

(51392, 43)

which country should we build the company at? Country
what should the company type and size be? CompanySize & CompanyType
Who would we hire? University & ProgramHobby

In [33]:
# drop columns which has more than %35 NaN's
df = df.drop(columns = missing_cols)

In [35]:
df.columns

Index(['Respondent', 'Professional', 'ProgramHobby', 'Country', 'University',
       'EmploymentStatus', 'FormalEducation', 'MajorUndergrad', 'HomeRemote',
       'CompanySize', 'CompanyType', 'YearsProgram', 'YearsCodedJob',
       'DeveloperType', 'CareerSatisfaction', 'JobSatisfaction',
       'PronounceGIF', 'ClickyKeys', 'TabsSpaces', 'WorkStart',
       'HaveWorkedLanguage', 'WantWorkLanguage', 'IDE', 'AuditoryEnvironment',
       'StackOverflowDescribes', 'StackOverflowSatisfaction',
       'StackOverflowDevices', 'StackOverflowFoundAnswer',
       'StackOverflowCopiedCode', 'StackOverflowJobListing',
       'StackOverflowCompanyPage', 'StackOverflowJobSearch',
       'StackOverflowNewQuestion', 'StackOverflowAnswer',
       'StackOverflowMetaChat', 'StackOverflowHelpful', 'StackOverflowBetter',
       'Gender', 'HighestEducationParents', 'SurveyLong',
       'QuestionsInteresting', 'QuestionsConfusing', 'InterestedAnswers'],
      dtype='object')

In [43]:
df.MajorUndergrad.value_counts()

Computer science or software engineering                        21409
Computer engineering or electrical/electronics engineering       4364
Computer programming or Web development                          3883
Information technology, networking, or system administration     2140
A natural science                                                1865
A non-computer-focused engineering discipline                    1789
Mathematics or statistics                                        1648
Something else                                                   1060
A humanities discipline                                           901
A business discipline                                             900
Management information systems                                    654
Fine arts or performing arts                                      646
A social science                                                  633
I never declared a major                                          592
Psychology                                                        215
A health science                                                  142
Name: MajorUndergrad, dtype: int64

In [17]:
# Select the columns that we will use and create a new dataframe
cols = [df.University, df.CompanyType, df.DeveloperType, df.SelfTaughtTypes, df.HomeRemote, df.CollaborateRemote]

In [18]:
new_df = pd.DataFrame(data=cols)

In [19]:
new_df.shape

(6, 51392)

In [20]:
new_df = new_df.transpose()

In [21]:
new_df.shape

(51392, 6)

In [22]:
new_df.head()

,University,CompanyType,DeveloperType,SelfTaughtTypes,HomeRemote,CollaborateRemote
0,No,NaN,NaN,NaN,NaN,NaN
1,"Yes, full-time","Privately-held limited company, not in startup...",NaN,Official documentation; Stack Overflow Q&A; Other,"More than half, but not all, the time",Strongly disagree
2,No,Publicly-traded corporation,Other,Official documentation; Trade book; Textbook; ...,"Less than half the time, but at least one day ...",Somewhat agree
3,No,Non-profit/non-governmental organization or pr...,NaN,NaN,"Less than half the time, but at least one day ...",Somewhat agree
4,No,"Privately-held limited company, not in startup...",Mobile developer; Graphics programming; Deskto...,NaN,Never,NaN

In [25]:
new_df.University.value_counts()

No                     37543
Yes, full-time          9369
Yes, part-time          3352
I prefer not to say     1128
Name: University, dtype: int64

In [27]:
new_df.isnull().sum()

University               0
CompanyType          12569
DeveloperType        15267
SelfTaughtTypes      24657
HomeRemote            7384
CollaborateRemote    21935
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'type'